.gitignore

# apikey
.env

# data
data/

# python cache
__pycache__/
.pytest_cache/

# venv
.venv/

# vscode
.vscode/


# macOS
.DS_Store

# notebook
easyocr_ui_text_extractor.ipynb

# vision files
vision/find_coord.py
vision/test.py
vision/testing.ipynb